<div class="todo-list" *ngIf="todos.length">
    <div class="todo-item" *ngFor="let todo of todos" [ngClass]="{ 'completed': todo.completed }">
        <button class="checkbox icon" (click)="toggle(todo)">
            <i class="material-icons" [innerText]="todo.completed ? 'check_box' : 'check_box_outline_blank'"></i>
        </button>

        <span class="title">{{ todo.title }}</span>

        <div class="actions">
            <button class="delete-icon" (click)="delete(todo)">
                <i class="material-icons">
                    delete
                </i>
            </button>
        </div>
    </div>
</div>